{% extends 'analytical_system/base.html' %}

{% block title %}
Модуль Анализа Больших Данных
{% endblock %}

{% block content %}
<div class="container marketing">


    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Возможности Модуля Анализа</h2>
            <p class="lead">Модуль анализа больших данных - одна из частей комплекса программ ГИС Горизонт, которая способна обрабатывать пространственные данные из хранилища, рассчитывать множество показателей, визуализировать и создавать отчеты.</p>
            <p class="lead">Скорость обработки одного миллиона строк данных из таблиц базы данных Postgres достигает 8,34 секунд</p>
        </div>
        
        <div class="col-md-5">
            <img src="https://images.pexels.com/photos/577210/pexels-photo-577210.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid rounded" alt="home_img_1">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Способы Визуализации Данных</h2>
            <p class="lead p-0 m-0">Данный модуль способен представлять большие данные в виде, который обеспечивает наиболее эффективную работу человека по их изучению и пониманию. Данная система визуализирует данные в различных форматах в зависимости от выбора пользователя:</p>
            <ul class="lead mt-0 pt-0">
                <li>таблица;</li>
                <li>линейная диаграмма;</li>
                <li>гистограмма;</li>
                <li>географическая диаграмма.</li>
            </ul>
                
        </div>
        <div class="col-md-5">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Federal_subjects_of_Russia_by_population_dencity.svg/450px-Federal_subjects_of_Russia_by_population_dencity.svg.png" class="img-fluid" alt="home_img_2">
        </div>
        

    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Эффективность Системы</span></h2>
            <p class="lead">Вся система написана на языке программирования Python, которая в свою очередь взаимодействует, как с хранилищем пространственных данных ГИС Горизонт, так и со своей базой данных Postgres. Все рассчеты и манипуляции с данными происходят так быстро благодаря библиотека Python — Pandas. Она необходима для обработки и анализа структурированных данных, её название происходит от «panel data» («панельные данные»). Панельными данными называют информацию, полученную в результате исследований и структурированную в виде таблиц.</p>
        </div>
        <div class="col-md-5">
            <img src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid rounded" alt="home_img_3">
        </div>
    </div>

    <hr class="featurette-divider">

</div>
{% endblock %}